.task {
    display: flex;
    overflow: hidden !important;
    background-color: white;
    padding: 0 2rem;
    border-radius: .6rem;
    transition: background-color 200ms;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.task:hover {
    background-color: #d6d7d7;
}

.task__content {
    width: 100%;
    height: 100%;
    padding: 2rem 2rem;
    font-family: Roboto-Regular, sans-serif;
    font-size: 1.4rem;
    color: #323130;
}