
:root {
    font-size: 10px;
    --primary-color: #0078d7;
    --bg-secondary: rgb(63, 63, 63);
    --bg-shadow: rgba(0, 0, 0, 0.1);
}

html {
    height: 100%;
}

body {
    font-size: 1.6rem !important;
    background-color: var(--bg-secondary);
    font-family: Roboto-Regular, serif;
    margin: 0;
    height: 100%;
    overflow: hidden
}

.all-tasks {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 11.6rem);
    padding-bottom: 6.5rem;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.all-tasks::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.app {
    display: flex;
    position: relative;
    height: calc(100% - 4.8rem);
}

/* helper classes */


.hide {
    display: none !important;
}

.show {
    display: inline-block !important;
}

.p-relative {
    position: relative !important;
}

.h-100 {
    height: 100%;
}

/* header */


.header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 2rem;
}

.header_title {
    font-size: 2rem;
    color: #fff;
}

.search {
    display: flex;
    align-items: center;
    background-color: #C3DDF7;
    padding: 0 .5rem 0 .7rem;
    border-radius: .6rem;
    width: 55rem;
    height: 3.6rem;
}

.search--show {
    width: 70% !important;
    opacity: 1 !important;
    overflow: visible !important;
}

.search_icon {
    background-color: #C3DDF7;
    cursor: pointer;
}

.search_input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    border-radius: .6rem;
    padding-left: .5rem;
    background-color: #C3DDF7;
}

.search_close {
    border-radius: 1rem;
    display: none;
    cursor: pointer;
    background-color: #C3DDF7;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_setting {
    margin-right: 2rem;
    color: #fff;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    border-radius: 100%;
    border: 1px solid white;
    width: 3.5rem;
    height: 3.5rem;
}

.profile_content {

}


/* main header*/


.main {
    background-color: var(--bg-secondary);
    width: 100%;
}

.todo-header {
    padding-top: 3rem;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header_left {
    display: flex;
    align-items: center;
}

.main-header_menu-logo {
    margin-right: .7rem;
    transition: background-color 150ms;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem;
    border-radius: .4rem;
}

.main-header_menu-logo:hover {
    background-color: white;
}

.main-header_title {
    color: var(--primary-color);
    font-family: Roboto-Medium, serif;
    font-size: 2rem;
}

.list-option {
    margin-left: 1.5rem;
    position: relative;
    cursor: pointer;
    border-radius: .5rem;
}

.logo-wrapper {
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms;
    padding-bottom: 1.5rem;
    font-size: 3rem;
    border-radius: .5rem;
    cursor: pointer;
    color: #797775;
}

.logo-wrapper:hover {
    background-color: white;
}

.list-menu {
    position: absolute;
    height: 0;
    z-index: -2;
    overflow: hidden;
    opacity: 0;
    transition: all 150ms ease-in-out;
    top: -1rem;
    width: 20rem;
    background-color: white;
    left: -10rem;
    text-align: center;
    padding: 1.5rem 0;
    border-radius: .5rem;
}

.list-menu--show {
    height: auto;
    opacity: 1;
    z-index: auto;
    overflow: visible;
    top: 3rem;
}

.list-menu_title {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--bg-secondary);
    padding-bottom: 1.5rem;
    cursor: auto;
    font-family: Roboto-Medium, sans-serif;
}

.menu-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.menu-option_items {
    display: flex;
    padding: 1rem 0 1rem 2rem;
    transition: 100ms;
    align-items: center;
    gap: 1rem;
}

.menu-option_items:hover {
    background-color: #dddee0;
}

.menu-option_title {
    margin-right: 1.6rem;
    font-family: Roboto-Regular, sans-serif;
}

.main-header_right {
    position: relative;
}

.main-header_sort {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.sort {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: .4rem;
    transition: background-color 250ms;
    cursor: pointer;
}

.sort:hover {
    background-color: white;
}

.sort-menu {
    position: absolute;
    height: 0;
    overflow: hidden;
    opacity: 0;
    z-index: -3;
    top: -1.5rem;
    border-radius: .4rem;
    padding-top: 1.5rem;
    right: -2rem;
    width: 20rem;
    background-color: white;
    transition: all 150ms ease-in-out;
}

.sort-menu--show {
    height: auto;
    overflow: visible;
    z-index: auto;
    opacity: 1;
    top: 3.5rem;
}

.sort-menu__title {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--bg-secondary);
    font-family: Roboto-Medium, sans-serif;
}

.sort-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0;
}

.sort-options__item {
    padding: 1rem 0 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.7rem;
    transition: 100ms;
    cursor: pointer;
}

.sort-options__item:hover {
    background-color: #dddee0;
}

.sort-options__title {
    font-family: Roboto-Regular, sans-serif;
}


/* new task*/


.new-task {
    margin-top: 3rem;
}

.new-task-wrapper {
    overflow: hidden;
    border-radius: .6rem;
    box-shadow: 0 0.3px 0.9px var(--bg-shadow), 0 1.6px 3.6px var(--bg-shadow);
}

.new-task-top {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(109, 125, 133, 0.3);
}

.new-task-top__icon {
    cursor: pointer;
}

.new-task-top__circle {
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 100%;
    flex-shrink: 0;
    border: 1px solid var(--primary-color);
}

.new-task-top__input {
    border: none;
    outline: none;
    padding: .9rem 1.7rem;
    width: 100%;
}

.new-task-top__input::placeholder {
    color: #323130;
    font-family: Roboto-Regular, sans-serif;
}

.new-task-bottom {
    background-color: #F3F2F1;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 200ms cubic-bezier(0.25, 0.1, 0.26, 1.13) 0s;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.new-task-bottom--show {
    height: 5rem;
    opacity: 1;
    overflow: visible;
    padding: 0 1.6rem;
}

.new-task-bottom__options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.new-task-bottom__icon {
    transition: 150ms;
    border-radius: .4rem;
    padding: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-task-bottom__icon:hover {
    background-color: white;
}

.new-task-bottom__add {
    padding: .7rem;
    color: var(--primary-color);
    background-color: white;
    border: 1px solid rgba(109, 125, 133, 0.3);
}


/* tasks sections*/


.tasks {
    margin-top: 1rem;
}

.tasks-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task {
    display: flex;
    background-color: white;
    padding: 1.6rem 2rem;
    border-radius: .6rem;
    box-shadow: 0 0.3px 0.9px var(--bg-shadow), 0 1.6px 3.6px var(--bg-shadow);
    transition: background-color 150ms;
    cursor: pointer;
    align-items: center;
}

.task:hover {
    background-color: var(--bg-secondary);
}

.task__content {
    width: 100%;
    margin: 0 2rem;
    font-family: Roboto-Regular, sans-serif;
    font-size: 1.4rem;
    color: #323130;
}


/* completed tasks*/


.completed-tasks {
    margin-top: 1.7rem;
}

.completed-head-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.completed-head {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 1rem;
    gap: 1.5rem;
    cursor: pointer;
}

.completed-head__icon {
    transform: rotate(-90deg);
    transition: 250ms;
}

.completed-head__icon--open {
    transform: none;
}

.completed-head__count {
    color: #797775;
    font-size: 1.5rem;
}

.completed-head__text {
    font-family: Roboto-Medium, sans-serif;
    font-size: 1.4rem;
}

.line-wrapper {
    width: 100%;
    padding: 0 2rem;
}

.completed-head__line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(121, 119, 117, 0.3);
}

.completed-tasks-wrapper {
    margin-bottom: 2rem;
    margin-top: -6rem;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: all 300ms;
    overflow: hidden;
    height: 0;
}

.completed-tasks-wrapper--show {
    overflow: auto;
    margin-top: 1rem;
    transform: scaleY(1);
    opacity: 1;
    height: auto;
}


/* left sidebar*/


.sidebar {
    width: 0;
    flex-shrink: 0;
    overflow: hidden;
    background-color: white;
    padding-top: 3rem;
    box-shadow: 0 0.3px 0.9px rgb(0 0 0 / 10%), 0 1.6px 3.6px rgb(0 0 0 / 10%);
}

.sidebar--open {
    width: 29rem;
}

.sidebar__head {
    margin-bottom: 1.5rem;
}

.sidebar__logo {
    padding-left: 2rem;
    cursor: pointer;
}

.sidebar-menu {
    margin-bottom: .5rem;
}

.sidebar-menu__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 2rem;
    transition: 150ms ease-in;
    position: relative;
}

.sidebar-menu__item::before {
    content: " ";
    width: 2px;
    position: absolute;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    bottom: 0;
    transition: all 150ms ease-in;
    transform: scaleY(0);
}

.sidebar-menu__item:hover {
    background-color: rgba(178, 179, 182, 0.2);
}

.sidebar-menu__item--active {
    background-color: #ecf6fd;
}

.sidebar-menu__item--active:hover {
    background-color: #ecf6fd !important;
}

.sidebar-menu__item--active::before {
    transform: scaleY(1);
}

.sidebar-menu__content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.sidebar-menu__title {
    font-size: 1.4rem;
    color: #323130;
}

.sidebar-menu__number {
    font-size: 1.4rem;
    color: #4b4c4d;
}

.sidebar__line {
    padding: 0 1.5rem !important;
}

.new-list {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-list__wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.2rem 0 1.2rem 2rem;
    transition: 150ms ease-in;
}

.new-list__wrapper:hover {
    background-color: rgba(178, 179, 182, 0.2);
}

.new-list__new {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.new-list__input {
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: transparent;
    width: 100%;

}

.new-list__input::placeholder {
    color: var(--primary-color);
}

.new-list__group {
    padding: 1.2rem 2.3rem;
    cursor: pointer;
    transition: 150ms ease-in;
    display: block;
    color: var(--primary-color);
}

.new-list__group:hover {
    background-color: rgba(178, 179, 182, 0.2);
}


/* details */


.todo-details {
    overflow: hidden;
    width: 0;
    padding-top: 1.3rem;
    background-color: var(--bg-secondary);
    flex-shrink: 0;
    box-shadow: 0 1.2px 3.6px var(--bg-shadow), 0 6.4px 14.4px var(--bg-shadow);
}

.todo-details--open {
    width: 35rem;
}

.detail-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 6rem);
}

.detail-task {
    border-radius: .6rem .6rem 0 0 !important;
    box-shadow: none !important;
}


.detail-task:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.details-wrapper {
    display: flex;
    flex-direction: column;
    height: 45.3rem;
    gap: 1rem;
    padding-bottom: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */

}

.details-wrapper::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.new-step {
    border: none;
    border-radius: 0 0 .6rem .6rem;
}

.add-toDay {
    display: flex;
    background-color: white;
    padding: 1.6rem 2rem;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: background-color 150ms;
    align-items: center;
}

.add-toDay:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.add-toDay__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #797775;
}

.add-toDay__title {
    width: 100%;
    margin: 0 2rem;
    font-family: Roboto-Regular, sans-serif;
    font-size: 1.4rem;
    color: #797775;
}

.options {
    flex-shrink: 0;
    border-radius: .6rem;
}

.details-option:last-child {
    border-bottom: none;
}

.details-option {
    cursor: pointer;
    transition: background-color 150ms;
    border-bottom: 1px solid var(--bg-shadow);
}
.details-option__top{
    display: flex;
    background-color: white;
    align-items: center;
}
.details-option__top:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.details-option__icon {
    display: flex;
    padding: 1.6rem 2rem;
    align-items: center;
    justify-content: center;
    color: #797775;
}

.details-option__title {
    width: 100%;
    margin: 0 2rem;
    font-family: Roboto-Regular, sans-serif;
    font-size: 1.4rem;
    color: #797775;
}

.details-category {
    display: flex;
    background-color: white;
    padding: 1.6rem 2rem;
    cursor: pointer;
    transition: background-color 150ms;
    align-items: center;
    border-radius: .6rem;
}

.details-category:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.details-category__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #797775;
}

.details-category__title {
    width: 100%;
    margin: 0 2rem;
    font-family: Roboto-Regular, sans-serif;
    font-size: 1.4rem;
    color: #797775;
}

.add-file {
    display: flex;
    background-color: white;
    padding: 1.6rem 2rem;
    cursor: pointer;
    transition: background-color 150ms;
    align-items: center;
    border-radius: .6rem;
}

.add-file:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.add-file__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b2b2b2;
}

.add-file__title {
    width: 100%;
    margin: 0 2rem;
    font-family: Roboto-Regular, sans-serif;
    font-size: 1.4rem;
    color: #797775;
}

.add-note {
    height: 8rem;
    background-color: white;
    flex-shrink: 0;
    border-radius: .6rem;
    overflow: hidden;
}

.add-note__textarea {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 1.5rem;
    region-fragment: unset;
}

.add-note__textarea::placeholder {
    font-size: 1.6rem;
}

.todo-details__bottom {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--bg-shadow);
}

.todo-details__hide {
    cursor: pointer;
}

.todo-details__date {
    color: #797775;
    font-size: 1.3rem;
}

.todo-details__delete {
    cursor: pointer;
}


/* date option */


.details-date-option {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    width: 21rem;
    background-color: white;
    border-radius: .6rem;
    z-index: -5;
    opacity: 0;
    outline: transparent;
    transition: all 150ms ease-in   ;
    box-shadow: rgb(0 0 0 / 13%) 0 3.2px 7.2px 0, rgb(0 0 0 / 11%) 0 0.6px 1.8px 0;
}
.details-date-option--show{
    /*top: 100%;*/
    opacity: 1;
    height: auto;
    overflow: visible;
    z-index: 10;
}
.details-date-option__title {
    text-align: center;
    font-family: Roboto-Medium, sans-serif;
    padding: 1.5rem 0;
    font-size: 1.4rem;
    color: #323130;
}

.date-option-menu {
    border-top: 1px solid #e1efdd;
    border-bottom: 1px solid #e1efdd;
    padding: .5rem 0;
}

.date-option-menu__title {
    font-size: 1.4rem;
    color: #323130;
}

.date-option-menu__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem;
}

.date-option-menu__item:hover {
    background-color: #dddee0;
}

.date-option-menu__lastItem {
    margin: .4rem 0;
    padding: .7rem;

}

.date-option-menu__left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.date-option-menu__day {
    font-size: 1.4rem;
    color: #797775;
}