
.main {
    background-color: var(--bg-secondary);
    width: 100%;
}


.is-sorted {
    margin-bottom: -1.7rem;
    margin-top: .7rem;
    justify-content: right;
    font-family: Roboto-Medium, sans-serif;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* completed tasks*/


.completed-tasks {
    margin-top: 1.7rem;
}


.completed-tasks-wrapper {
    margin-bottom: 2rem;
    margin-top: -6rem;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: all 300ms;
    overflow: hidden;
    height: 0;
}

.completed-tasks-wrapper--show {
    overflow: auto;
    margin-top: 1rem;
    transform: scaleY(1);
    opacity: 1;
    height: auto;
}


a {
    text-decoration: none;
}

@media print {
    body * {
        display: none;
    }

    .print-display-none {
        display: none !important;
    }

    .print-display-flex {
        display: flex !important;
    }

    body .print-area, .print-area * {
        display: block;
    }
}