.details-wrapper {
    height: calc(100% - 4.5rem);
    margin-top: -1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */

}

.details-wrapper::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.details-option:last-child {
    border-bottom: none;
}

.details-option {
    cursor: pointer;
    transition: background-color 150ms;
    border-bottom: 1px solid var(--bg-shadow);
}


.details-date-option {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    width: 21rem;
    background-color: white;
    border-radius: .6rem;
    z-index: -5;
    opacity: 0;
    outline: transparent;
    transition: all 150ms ease-in;
    box-shadow: rgb(0 0 0 / 13%) 0 3.2px 7.2px 0, rgb(0 0 0 / 11%) 0 0.6px 1.8px 0;
}

.details-date-option--show {
    /*top: 100%;*/
    opacity: 1;
    height: auto;
    overflow: visible;
    z-index: 10;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 0 !important;
    margin-bottom: 1rem;
}
