.details-option__top {
    display: flex;
    align-items: center;
    width: 100%;
}

.details-option__topWrapper {
    display: flex;
    background-color: white;
    align-items: center;
}

.details-option__topWrapper:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.details-option__icon {
    display: flex;
    padding: 1.6rem 2rem;
    align-items: center;
    justify-content: center;
    color: #797775;
}

.details-option__hours {
    width: 100%;
    font-family: Roboto-Regular, sans-serif;
    font-size: 1.4rem;
    color: #797775;
}

.details-option__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto-Regular, sans-serif;
    font-size: 1.2rem;
    gap: .3rem;
}

.details-option__title .details-option__hours {
    color: var(--primary-color) !important;
}

.details-option__day {
    color: #797775;
}
