.categories {
    background-color: white;
    padding: 1.6rem 2rem;
    border-radius: .6rem;
    margin-bottom: 1rem;
}

.categories__item {
    display: flex;
    align-items: center;
    border-radius: .4rem;
    padding: .5rem;
    gap: .2rem;
}

.categories__title {
    font-size: 1.5rem;
}

.categories__lent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: .8rem;
    gap: .7rem;
}

.details-category {
    display: flex;
    transition: background-color 150ms;
    align-items: center;
}

.details-category:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.details-category__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #797775;
}

.details-category__title {
    width: 100%;
    margin: 0 2rem;
    font-family: Roboto-Regular, sans-serif;
    font-size: 1.4rem;
    color: #797775;
    cursor: pointer;
}

.details-category__options {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 25rem;
    opacity: 0;
    height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    z-index: -100;
    transition: opacity 150ms;
    border-radius: .6rem;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    box-shadow: rgb(0 0 0 / 13%) 0 3.2px 7.2px 0, rgb(0 0 0 / 11%) 0 0.6px 1.8px 0;
}

.details-category__options--show {
    height: 17rem;
    opacity: 1;
    z-index: 100;
}

.details-category__options::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.category-list {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-list__icon {
    width: 1rem;
    height: 1rem;
    display: block;
    border-radius: 100%;
}

.category-list__item {
    padding: 1.2rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.category-list__item:hover {
    background-color: #dddee0;
}