.todo-header {
    padding-top: 3rem;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header_left {
    display: flex;
    align-items: center;
}

.main-header_menu-logo {
    margin-right: .7rem;
    transition: background-color 150ms;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem;
    border-radius: .4rem;
}

.main-header_menu-logo:hover {
    background-color: white;
}

.main-header_title {
    color: var(--primary-color);
    font-family: Roboto-Medium, serif;
    font-size: 2rem;
}

.list-option {
    margin-left: 1.5rem;
    position: relative;
    cursor: pointer;
    border-radius: .5rem;
}

.logo-wrapper {
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms;
    padding-bottom: 1.5rem;
    font-size: 3rem;
    border-radius: .5rem;
    cursor: pointer;
    color: #797775;
}

.logo-wrapper:hover {
    background-color: white;
}

.list-menu {
    position: absolute;
    height: 0;
    z-index: -2;
    overflow: hidden;
    opacity: 0;
    transition: all 150ms ease-in-out;
    top: -1rem;
    width: 20rem;
    background-color: white;
    left: -10rem;
    text-align: center;
    padding: 1.5rem 0;
    border-radius: .5rem;
}

.list-menu--show {
    height: auto;
    opacity: 1;
    z-index: auto;
    overflow: visible;
    top: 3rem;
}

.list-menu_title {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--bg-secondary);
    padding-bottom: 1.5rem;
    cursor: auto;
    font-family: Roboto-Medium, sans-serif;
}

.menu-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.menu-option_items {
    display: flex;
    padding: 1rem 0 1rem 2rem;
    transition: 100ms;
    align-items: center;
    gap: 1rem;
}

.menu-option_items:hover {
    background-color: #dddee0;
}

.menu-option_title {
    margin-right: 1.6rem;
    font-family: Roboto-Regular, sans-serif;
}

.main-header_right {
    position: relative;
}

.main-header_sort {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.sort {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: .4rem;
    transition: background-color 250ms;
    cursor: pointer;
}

.sort:hover {
    background-color: white;
}

.sort-menu {
    position: absolute;
    height: 0;
    overflow: hidden;
    opacity: 0;
    z-index: -3;
    top: -1.5rem;
    border-radius: .4rem;
    padding-top: 1.5rem;
    right: -2rem;
    width: 20rem;
    background-color: white;
    transition: all 150ms ease-in-out;
}

.sort-menu--show {
    height: auto;
    overflow: visible;
    z-index: auto;
    opacity: 1;
    top: 3.5rem;
}

.sort-menu__title {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--bg-secondary);
    font-family: Roboto-Medium, sans-serif;
}

.sort-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0;
}

.sort-options__item {
    padding: 1rem 0 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.7rem;
    transition: 100ms;
    cursor: pointer;
}

.sort-options__item:hover {
    background-color: #dddee0;
}

.sort-options__title {
    font-family: Roboto-Regular, sans-serif;
}

