.todo-header {
    padding-top: 3rem;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header_left {
    display: flex;
    align-items: center;
}

.main-header_menu-logo {
    margin-right: .7rem;
    transition: background-color 150ms;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem;
    border-radius: .4rem;
}

.main-header_menu-logo:hover {
    background-color: white;
}

.main-header_title {
    color: var(--primary-color);
    font-family: Roboto-Medium, serif;
    font-size: 2rem;
}

.list-option {
    margin-left: 1.5rem;
    position: relative;
    cursor: pointer;
    border-radius: .5rem;
}

.logo-wrapper {
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms;
    padding-bottom: 1.5rem;
    font-size: 3rem;
    border-radius: .5rem;
    cursor: pointer;
    color: #797775;
}

.logo-wrapper:hover {
    background-color: white;
}


.main-header_right {
    position: relative;
}

.main-header_sort {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.sort {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: .4rem;
    transition: background-color 250ms;
    cursor: pointer;
}

.sort:hover {
    background-color: white;
}



