.sidebar {
    width: 0;
    flex-shrink: 0;
    overflow: hidden;
    background-color: white;
    padding-top: 3rem;
    box-shadow: 0 0.3px 0.9px rgb(0 0 0 / 10%), 0 1.6px 3.6px rgb(0 0 0 / 10%);
}

.sidebar--open {
    width: 29rem;
}

.sidebar__head {
    margin-bottom: 1.5rem;
}

.sidebar__logo {
    padding-left: 2rem;
    cursor: pointer;
}

.sidebar-menu {
    margin-bottom: .5rem;
}

.sidebar-lists {
    margin: .7rem 0 -1.4rem 0;
}

.sidebar__line {
    padding: 0 1.5rem !important;
}


@media (max-width: 992px) {
    .sidebar--open {
        width: 21rem;
    }
}

@media (max-width: 768px) {

    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        transition: width 200ms ease-in;
        z-index: 10;
    }

    .sidebar--open {
        width: 25rem;
    }

}

@media (max-width: 576px) {

    .sidebar--open {
        width: 22rem;
    }

}

