/* new task*/


.new-task {
    margin-top: 3rem;
}

.new-task-wrapper {
    overflow: hidden;
    display: flex;
    border-radius: .6rem;
    box-shadow: 0 0.3px 0.9px var(--bg-shadow), 0 1.6px 3.6px var(--bg-shadow);
}

.new-task-top {
    background-color: white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.new-task-top__icon {
    cursor: pointer;
}

.new-task-top__circle {
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 100%;
    flex-shrink: 0;
    border: 1px solid var(--primary-color);
}

.new-task-top__input {
    border: none;
    outline: none;
    padding: .9rem 1.7rem;
    width: 100%;
}

.new-task-top__input::placeholder {
    color: #323130;
    font-family: Roboto-Regular, sans-serif;
}

.new-task__add {
    margin-left: auto;
    padding: .7rem;
    color: var(--primary-color);
    background-color: white;
    border: 1px solid rgba(109, 125, 133, 0.3);
    border-radius: 0 .6rem .6rem 0;

}
