/* new task*/


.new-task {
    margin-top: 3rem;
}

.new-task-wrapper {
    overflow: hidden;
    border-radius: .6rem;
    box-shadow: 0 0.3px 0.9px var(--bg-shadow), 0 1.6px 3.6px var(--bg-shadow);
}

.new-task-top {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(109, 125, 133, 0.3);
}

.new-task-top__icon {
    cursor: pointer;
}

.new-task-top__circle {
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 100%;
    flex-shrink: 0;
    border: 1px solid var(--primary-color);
}

.new-task-top__input {
    border: none;
    outline: none;
    padding: .9rem 1.7rem;
    width: 100%;
}

.new-task-top__input::placeholder {
    color: #323130;
    font-family: Roboto-Regular, sans-serif;
}

.new-task-bottom {
    background-color: #F3F2F1;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 200ms cubic-bezier(0.25, 0.1, 0.26, 1.13) 0s;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.new-task-bottom--show {
    height: 5rem;
    opacity: 1;
    overflow: visible;
    padding: 0 1.6rem;
}

.new-task-bottom__options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.new-task-bottom__icon {
    transition: 150ms;
    border-radius: .4rem;
    padding: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-task-bottom__icon:hover {
    background-color: white;
}

.new-task-bottom__add {
    padding: .7rem;
    color: var(--primary-color);
    background-color: white;
    border: 1px solid rgba(109, 125, 133, 0.3);
}
