/* new task*/


.new-task {
    margin-top: 3rem;
}

.new-task-wrapper {
    box-shadow: 0 0.3px 0.9px var(--bg-shadow), 0 1.6px 3.6px var(--bg-shadow);
}

.new-task-top {
    background-color: white;
    border-radius: .6rem .6rem 0 0;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 1.1rem 2rem;
    border-bottom: 1px solid rgba(109, 125, 133, 0.3);
}

.new-task-top__icon {
    cursor: pointer;
}

.new-task-top__circle {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    flex-shrink: 0;
    border: 1px solid var(--primary-color);
}

.new-task-top__input {
    border: none;
    outline: none;
    padding: .9rem 1.7rem;
    width: 100%;
}

.new-task-top__input::placeholder {
    color: #323130;
    font-family: Roboto-Regular, sans-serif;
}


.new-task-bottom {
    background-color: #F3F2F1;
    border-radius: 0 0 .6rem .6rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 200ms cubic-bezier(0.25, 0.1, 0.26, 1.13) 0s;
    height: 0;
    opacity: 0;
}

.new-task-bottom--show {
    height: 4.7rem;
    opacity: 1;
    padding: 0 1.6rem;
}

.new-task-bottom__options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.new-task-bottom__icon {
    transition: 150ms;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.option-menu__top {
    color: #292827;
    border: 1px solid #A19F9D;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: .4rem;
    padding: .2rem .3rem;
}

.option-menu__top span {
    font-size: 1.4rem;
    color: #292827;
}


.new-task-bottom__add {
    cursor: pointer;
    padding: .7rem;
    color: var(--primary-color);
    background-color: white;
    border: 1px solid rgba(109, 125, 133, 0.3);
}

.option-menu {
    z-index: -19;
    opacity: 0;
    position: absolute;
    top: -1rem;
    left: -1rem;
    overflow: hidden;
    width: 21rem;
    background-color: white;
    border-radius: .6rem;
    outline: transparent;
    transition: all 100ms ease-in;
    box-shadow: rgb(0 0 0 / 13%) 0 3.2px 7.2px 0, rgb(0 0 0 / 11%) 0 0.6px 1.8px 0;
}

.option-menu--show {
    z-index: 19;
    opacity: 1;
    top: 110%;
}
